.breadcrumb-line{

margin-bottom: 5%;

}

#avisoAgencia{

    font-weight: bold;
    font-size: 100%;
    margin-left: 2%;
}

.form-control{

    padding-right: 0px !important;
}

.modal-title{
font-size: 15px !important;
}

.botaoModal{

    margin:10px;

}

.dataLimite{
        color:brown;
}

.nav-tabs{
    font-size: 110%;
}

