.breadcrumb-line{

margin-bottom: 5%;

}

#avisoAgencia{

    font-weight: bold;
    font-size: 110%;
    margin-left: 2%;
}

.form-control{

    padding-right: 0px !important;
}

.modal-title{
font-size: 15px !important;
}

.botaoModal{

    margin:10px;

}

.dataLimite{
        color:brown;
}

.nav-tabs{
    font-size: 110%;
}

.tabResponsiva{
    overflow: auto;
}
.btn-success{
    background-color: #1c60ab;
    border-color: #1c60ab;
}

input:required:invalid, select:required:invalid{

     border-color: red;
     border-width: 20%;

}
.btn-success{
    background-color: #65B688;
    border-color:#65B688;
}

.corEfeitoSaldoOk{
    color: #fff;
    font-weight: bold;
    background: #65B688 !important;
}

.corEfeitoSemSaldo{
    color: #fff;
    font-weight: bold;
    background: #D65C4F !important;
  
}
.DataTable{
    width: 100%;
}
.nav-pills > li.active> a {
    background-color: #fff;
    color: #1c60ab !important;
    border-color: #c7c4be !important;
    border-top-color: #D65C4F !important;
    
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: #fff;
}

#contratoBNDESnumero{
    font-weight: bold;
    font-size: 120%;
    margin-left: 2%;
    color: #D65C4F;
}


