.breadcrumb-line{

margin-bottom: 5%;

}

#avisoAgencia{

    font-weight: bold;
    font-size: 100%;
    margin-left: 2%;
}

.form-control{

    padding-right: 0px !important;
}

.modal-title{
font-size: 15px !important;
}

.botaoModal{

    margin:10px;

}

.dataLimite{
        color:brown;
}

.nav-tabs{
    font-size: 110%;
}

.tabResponsiva{
    overflow: auto;
}
.btn-success{
    background-color: #1c60ab;
    border-color: #1c60ab;
}

input:required:invalid, select:required:invalid{

     border-color: red;
     border-width: 20%;

}
.btn-success{
    background-color: #65B688;
    border-color:#65B688;
}