



.container{
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.conteudo-wrapper{
    padding: 0px;
}

.confidencial20{
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px;
}

.conteudo-dados {
    display: none;
}

.error { 
    border-color: #F70202;
}

.escondido {
    display: none;
}

.fa-search{
    font-size:20px;
    color: #F78E1E;
}


.margin10{
    margin: 0px 10px;
}

.margin20{
    margin: 0px 20px;
}

.padding1 {
    padding: 1px;
}

.padding7 {
    padding: 7px;
}

.padding17 {
    padding: 17px;
}

.pointer {
    cursor: pointer;
}

